<header>
  <div class="wrap header">
    <div class="logo">
      Hi, I'm Anastasia
    </div>
    <nav>
      <li><a href="#main" class="first">About</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </nav>
  </div>
</header>
<div id="main">
  <div class="wrap flexMain">
    <div class="myPhoto">
      <img src="assets/img/photo.jpg" alt="i'm">
    </div>
    <div class="info">
      <h1>About</h1>
      <p>I'm 22. I graduated from the Institute of space and information technology in 2018. And when I thought about web development.
It so interested! </p>
      <p>So I decided to learn about this. <br>
        And this is my first work.</p>
    </div>
  </div>
</div>
<footer id="contacts">
  <div class="contactsWrap">
    <div class="aboutContacts">
				<span>If you have questions please mail to me.
					I will be glad to give you an answer.</span>
    </div>
    <div class="social">
      <a href="mailto:anisimova-nastya2@bk.ru" title="E-mail"> <img src="assets/img/email.png" alt="E-mail"></a>
      <a href="https://vk.com/k_o_t_i_k_24" title="Vk" target="_blank"> <img src="assets/img/vk.png" alt="Vk"></a>
      <a href="https://www.instagram.com/miliy_kisik/" title="Instagram" target="_blank"> <img src="assets/img/instagram.png" alt="Instagram"></a>
      <a href="https://github.com/anastasia-anisimova" title="Github" target="_blank"> <img src="assets/img/github.png" alt="Github"></a>
    </div>
  </div>
</footer>


